
button,
div,
form,
input {
    margin: 4px;
}
button {
	border-radius: 8px;
    color: white;
    background-color: teal;
}
#rating {
    display: inline-block;
}
#wrapper1 {
	float:right;
}
html,
body {
	background-color: #efefef;
}
